body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 768px) {
  body nav {
    padding-left: 48px !important;
    z-index: 9999;
  }
  body nav .desktop {
    display: none !important;
  }
  body nav .mobile #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }
  body nav .mobile #hamburger div {
    height: 2px;
    width: 24px;
    background-color: #fff;
  }
  body nav .mobile ul {
    height: 770px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    transform: translatey(-160px);
    z-index: -10;
    transition: 0.6s;
  }
  body nav .mobile ul li {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body nav .mobile ul li .fa-chevron-up {
    display: none !important;
  }
  body nav .mobile ul li .fa-chevron-down {
    display: block !important;
  }
  body nav .mobile ul .filterDropMobile {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
  }
  body nav .mobile ul .sortDropMobile {
    display: none;
  }
  body .popUp,
  body .editPopUp {
    width: 360px !important;
  }
  body .popUp i,
  body .editPopUp i {
    transform: translateX(-10px);
  }
}
@media only screen and (max-width: 480px) {
  body .popUp,
  body .editPopUp {
    width: 180px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px !important;
  }
  body .popUp h2,
  body .editPopUp h2 {
    font-size: 20px !important;
    text-align: center;
  }
  body .popUp i,
  body .editPopUp i {
    transform: translateX(-16px);
    font-size: 16px !important;
  }
  body .popUp form div,
  body .editPopUp form div {
    font-size: 14px;
  }
  body .popUp form div input,
  body .editPopUp form div input {
    height: 4px !important;
    width: 48px !important;
  }
}
@media screen and (min-width: 769px) {
  body nav .mobile {
    display: none !important;
  }
  body nav .desktop {
    display: flex !important;
  }
}
body nav {
  background-color: #2c3e50;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0px 64px;
  color: rgb(250, 250, 250);
  position: fixed;
  width: 100vw;
  top: 0;
}
body nav h1 {
  cursor: pointer;
  margin-right: auto;
}
body nav .desktop {
  display: block;
}
body nav ul:not(.sortDrop, .filterDrop) {
  margin-right: 96px;
}
body nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
body nav ul li {
  margin: 0px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #2c3e50;
  padding-right: 16px;
  padding-left: 16px;
}
body nav ul li input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  max-width: 160px;
  font: inherit;
  border-bottom: 1px solid rgb(250, 250, 250);
  padding: 8px;
}
body nav ul li i {
  margin-left: 8px;
  margin-top: 2px;
  font-size: 12px;
}
body nav ul li .searchBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin-left: 16px;
}
body nav ul li .searchBtn i {
  font-size: 1rem;
}
body nav ul li .fa-chevron-up {
  display: none;
}
body nav ul li .dropDown {
  position: relative;
}
body nav ul li .dropDown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2c3e50;
  padding-top: 16px;
  padding-bottom: 15px;
}
body nav ul li .dropDown ul li {
  margin: 0;
}
body nav ul li .dropDown ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 8px;
}
body nav ul li .dropDown ul li:hover {
  background-color: #fff;
}
body nav ul li .dropDown ul li:hover a {
  color: #2c3e50;
}
body nav ul li .dropDown .sortDrop {
  transform: translate(-86px) translateY(17.5px);
  width: 136px;
  padding: 0px;
}
body nav ul li .dropDown .filterDrop {
  transform: translateX(-74px) translateY(17.5px);
  padding: 0px;
}
body nav ul li:hover .dropDown ul {
  display: block;
}
body nav ul li:hover .fa-chevron-down {
  display: none;
  transition: 0.3s;
}
body nav ul li:hover .fa-chevron-up {
  display: block;
  transition: 0.3s;
}
body nav ul .searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .popUp,
body .editPopUp {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  z-index: 9999;
  pointer-events: auto;
}
body .popUp i,
body .editPopUp i {
  position: absolute;
  left: 92%;
  top: 5%;
  font-size: 24px;
  cursor: pointer;
}
body .popUp form,
body .editPopUp form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .popUp form .inputField,
body .editPopUp form .inputField {
  flex: 0 0 50%;
  margin-bottom: 20px;
  transform: translateX(20px);
}
body .popUp form .inputField label,
body .editPopUp form .inputField label {
  display: block;
  margin-bottom: 5px;
}
body .popUp form .inputField input,
body .editPopUp form .inputField input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
}
body .popUp form input[type=submit],
body .editPopUp form input[type=submit] {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
}
body #listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body #listContainer .bookContainer {
  margin: 128px 32px 0px 32px;
  width: 320px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: #1eaabc;
  padding: 0px 16px 0px 16px;
  color: #fff;
}
body #listContainer .bookContainer h3 {
  text-align: center;
}
body #listContainer .bookContainer .textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
body #listContainer .bookContainer .textDiv p {
  text-align: center;
}
body #listContainer .bookContainer .imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
body #listContainer .bookContainer .imgDiv img {
  height: 236px;
  width: 196px;
  -o-object-fit: contain;
     object-fit: contain;
}
body #listContainer .bookContainer .btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #listContainer .bookContainer .btnDiv button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
}
body #listContainer .bookContainer .btnDiv .editBtn {
  margin-right: 16px;
  background-color: #508ac4;
  color: #fff;
}
body #listContainer .bookContainer .btnDiv .editBtn:hover {
  background-color: #2c3e50;
  transition-property: background-color;
  transition-duration: 0.2s;
}
body #listContainer .bookContainer .btnDiv .deleteBtn:hover {
  background-color: red;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.2s;
}
body .addContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 0px 32px 0px;
}
body .addContainer .addBtn {
  border: none;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  background-color: #508ac4;
  color: #fff;
}
body .addContainer .addBtn:hover {
  background-color: #2c3e50;
  transition-property: background-color;
  transition-duration: 0.2s;
}
body .noBooks {
  margin-top: 128px;
  text-align: center;
}/*# sourceMappingURL=index.css.map */